---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>👤 Raúl García Balongo</title>
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white">
    <Navbar />

    <main>
      <slot />
    </main>
    <Footer />
    <BackToTop />
  </body>
</html>
